#--------------------------
# Assets Files
---------------------------

#--------------------------
# Backend Api Files
---------------------------
backendApi/vendor
backendApi/storage
backendApi/tests
backendApi/.env
backendApi/_ide_helper.php
backendApi/composer.lock
backendApi/vite.config.js
backendApi/package-lock.json

test.sql
unnecessary.json
moneymate.sql
CSV Formates.txt
Api request Insomnia

#-------------------------
# React Folder
#-------------------------
react/node_modules
react/package-lock.json
react/yarn.lock


#-------------------------
# Root File
#-------------------------
LICENSE
vite.svg
package-lock.json
