/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    text-transform: uppercase;
}

body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #212121;
    background-color: #f6f6f6;
}

input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
    /*height: 40px;*/
}

input:focus {
    border-color: #38363a;
}

.btn,
.btn-add,
.btn-edit,
.btn-delete,
.btn-info {
    font-family: "Roboto", sans-serif;
    outline: 0;
    border: 0;
    text-decoration: none;
    padding: 9px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 4px;
}

.btn-add {
    background-color: #5b08a7;
    transition: background-color 0.3s;
    box-shadow: 0 8px 9px -4px rgba(0, 0, 0, 0.15), 0 4px 18px 0 rgba(0, 0, 0, 0.1);
}

.btn-add:hover {
    background-color: #45067b;
}


.btn-info {
    background-color: #17a2b8;
    transition: background-color 0.3s;
    color: #fff;
    box-shadow: 0 8px 9px -4px rgba(0, 0, 0, 0.15), 0 4px 18px 0 rgba(0, 0, 0, 0.1);
}

.btn-edit {
    background-color: #ffc107;
    color: #212529;
    transition: background-color 0.3s;
    box-shadow: 0 8px 9px -4px rgba(0, 0, 0, 0.15), 0 4px 18px 0 rgba(0, 0, 0, 0.1);
}


.btn-info:hover {
    background-color: #138496;
    color: #fff;
}

.btn-edit:hover {
    background-color: #e0a800;
    color: #212529;
}


.btn-delete {
    background: #e53935;
    transition: background-color 0.3s;
    box-shadow: 0 8px 9px -4px rgba(0, 0, 0, 0.15), 0 4px 18px 0 rgba(0, 0, 0, 0.1);
}

.btn-delete:hover {
    background-color: #c62828;
    color: #fff;
}


.btn-block {
    width: 100%;
}

.btn-info,
.btn-add,
.btn-edit,
.btn-delete {
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}


.btn-delete {
    background-color: #b72424;
}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: #212121;
    transition: all 0.3s;
    border-radius: 6px;
}

.btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #5b08a7;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead th {
    padding: 0.5rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    font-weight: 600;
}

table tbody td {
    padding: 0.5rem;
    border-bottom: 1px solid #dee2e6;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
}

.table-bordered td:not(:last-child),
.table-bordered th:not(:last-child) {
    border-right-color: #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) td:not(:last-child),
.table-striped tbody tr:nth-of-type(odd) th:not(:last-child) {
    border-right-color: rgba(0, 0, 0, 0.05);
}


.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.alert-box {
    /*padding: 1rem;*/
    /*background-color: #ff4040;*/
    color: red !important;
    border-radius: 0.5rem;
    /*margin-bottom: 1rem;*/
    font-size: 15px;

}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

/* Login/Signup forms*/

.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-signup-form .form {
    width: 420px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 420px;
    padding: 34px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #5b08a7 !important;
}

.login-signup-form .form .message a {
    color: #2D353B;
    text-decoration: none;
}

/* Login/Signup form */


#defaultLayout {
    display: flex;
}

#defaultLayout aside {
    width: 245px;
    background-color: #1E1E2D;
    padding: 1rem
}

#defaultLayout aside > a {
    margin-top: 10px;
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 50px;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#defaultLayout main {
    padding: 2rem;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


aside a.active {
    font-weight: bold;
    background-color: #2A2A3C;
}


select {

    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;

}

select:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}


select option {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: none;
    transition: background-color .15s ease-in-out, color .15s ease-in-out;
}

select option:hover {
    background-color: #e9ecef;
    color: #212529;
}

select option:focus {
    background-color: #007bff;
    color: #fff;
    outline: none;
}


.border-white {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;
}


.icon-container {
    display: inline-block;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 5px;
}

.icon-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}


.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
    height: 40px;
}

.form-group input:focus {
    border-color: #38363a;
}

.error-message {
    color: #ff4040;
}

.password-input {
    position: relative;
}

.password-input .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}


/*DASHBOARD UI STARTS HERE*/

.content-wrap .info-boxes {
    padding: 3em 0 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2em;
}

.content-wrap .info-boxes .info-box {
    background: #fff;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 3em;
    border: 1px solid #ede8f0;
}

.content-wrap .info-boxes .info-box .box-icon svg {
    display: block;
    width: 48px;
    height: 48px;
}

.content-wrap .info-boxes .info-box .box-icon svg path,
.content-wrap .info-boxes .info-box .box-icon svg circle {
    fill: #99a0b0;
}

.content-wrap .info-boxes .info-box .box-content {
    padding-left: 1.25em;
    white-space: nowrap;
}

.content-wrap .info-boxes .info-box .box-content .big {
    font-weight: bolder;
    display: block;
    font-size: 1.5em;
    line-height: 150%;
    color: #1b253d;
}


.ml-1 {
    margin-left: 0.25rem !important;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.ml-3 {
    margin-left: 0.75rem !important;
}

.mr-1 {
    margin-right: 0.25rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.mr-3 {
    margin-right: 0.75rem !important;
}


.align-left {
    margin-right: auto;
    margin-left: 0;
}

.align-right {
    margin-left: auto;
    margin-right: 0;
}


.date-picker-group {
    display: flex;
    gap: 10px;
}


/* Container */
.container {
    width: 100%;
    max-width: 1140px; /* Adjust as needed */
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Row */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Columns */
[class^="col-"] {
    float: left;
    padding: 0 10px; /* Adjust the padding value as desired */
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666667%;
}

.col-12 {
    width: 100%;
}


/* Pagination Container */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    list-style: none;
}

/* Previous and Next Buttons */
.pagination .page-link {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 0.375rem 0.75rem;
    margin: 0 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.pagination .page-link:hover {
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination .page-link:focus {
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.pagination .page-link[disabled] {
    color: #6c757d;
    background-color: #fff;
    border-color: #dee2e6;
    cursor: not-allowed;
}

/* Active Page */
.pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

/* Page Number Buttons */
.pagination .page-item:not(.active) .page-link {
    z-index: 2;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination .page-item:not(.active) .page-link:hover {
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

/* Centered Alignment */
.pagination .justify-content-center {
    flex-wrap: wrap;
}

.pagination .page-item {
    margin: 0 2px;
}

/* Responsive Styles */
@media (max-width: 576px) {
    .pagination .page-link {
        padding: 0.25rem 0.5rem;
        font-size: 12px;
    }
}


.custom-modal .modal-content {
    border-radius: 0;
}

.dark-red-icon {
    color: #b41e2a;
}

.income-event,
.expense-event {
    cursor: pointer;
}

.calendar-container {
    margin: 0 auto;
}

.modal-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.custom-modal .modal-content {
    border: none;
    border-radius: 8px;
}

.custom-modal .modal-header {
    background-color: #0d6efd;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

.custom-modal .modal-body {
    padding: 20px;
}

.custom-modal .modal-footer {
    border-top: none;
    padding: 15px;
}

.custom-form-label {
    font-size: 16px;
    font-weight: 600;
}

.custom-form-control {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    resize: none;
}

.btn-primary {
    background-color: #2f4f4f;
    border-color: #2f4f4f;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #244242;
    border-color: #244242;
}

.btn-secondary {
    background-color: #ccc;
    border-color: #ccc;
    color: #333;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #bcbcbc;
    border-color: #bcbcbc;
    color: #333;
}

.table-bordered {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ccc;
    padding: 8px;
}

.table-bordered th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.text-left {
    text-align: left;
}


.badge-active {
    background-color: green !important;
}

.badge-inactive {
    background-color: red !important;
}

.react-datepicker-wrapper {
    width: 100% !important;
}

.table-responsive {
    overflow-x: initial !important;
}


.css-gdh49b-MuiAutocomplete-listbox .MuiAutocomplete-option[aria-selected="true"]{
    background-color: #607d8b !important;
}
.css-gdh49b-MuiAutocomplete-listbox .MuiAutocomplete-option[aria-selected="true"].Mui-focused {
    background-color: #607d8b !important;
}
.summery-card{
    z-index: -1;
}
.amount{
    text-align: end;
}
.sl_class{
    text-align: center;
}
.table_total{
    text-align: center;
}
.investment-column{
    background-color: #63ebe5;
}
.my-custom-scrollbar {
    position: relative;
    height: 400px;
    /* overflow: auto; */
}
.table-wrapper-scroll-y {
    display: block;
}
.logo-bookingcom{
    display: inline-block;
    background: url('https://dashboard.hostaway.com/src/assets/images/logo/booking_logo.png') 50% no-repeat;
    background-size: contain;
    width: 128px;
    height: 36px;
}
.logo-reservations {
    width: 35px!important;
    height: 17px!important;
    vertical-align: middle;
}
.income-description{
    display: flex;
    justify-content: space-between;
}
.aside-menu-item {
    cursor: pointer;
}
.filter-icon{
    display: flex;
    flex-direction: row-reverse;
}
.current-company-name{
    display: inline-block;
    width: 180px;
    height: 50px;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.company-list-dropdown{
    display: inline-block;
    width: 180px !important;
    height: 40px;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
}

.timeline-container::after {
    background-color: #e17b77;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}
.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}
.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 400px;
    max-width: 70%;
    text-align: right;
}

.timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}
.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}

.timeline-item-content time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
}

.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 250px;
}

.timeline-item-content a {
    font-size: 14px;
    font-weight: bold;
}

.timeline-item-content a::after {
    content: ' ►';
    font-size: 12px;
}

.timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid #e17b77;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -40px;
}

@media only screen and (max-width: 1023px) {
    .timeline-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-item-content time {
        margin-top: 20px;
    }

    .timeline-item-content a {
        text-decoration: underline;
    }

    .timeline-item-content a::after {
        display: none;
    }
}

.offcanvas.offcanvas-start {
    width: auto !important;
}
.addRowBtn {
    display: flex !important;

    justify-content: center;
}

/*Card CSS for my Task Start Here*/

.thumb-sm {
    height: 36px;
    width: 36px;
}
.card-box {
    border-radius: 3px;
    text-align: center;
}
taskList {
    min-height: 40px;
    margin-bottom: 0
}
.pending-task-header{
    background: #f8b6bd !important;
}
.complete-task-header{
    background: #198754 !important;
}
.ongoing-task-header{
    background: #ffc107 !important;
}
.taskList li {
    /*background-color: #fff;*/
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px
}

.taskList li:last-of-type {
    margin-bottom: 0
}

.taskList a {
    font-size: 13px
}

.taskList .checkbox {
    margin-left: 20px;
    margin-top: 5px
}
.text-muted {
    color: #98a6ad!important;
}

.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
}

.horizontal-scrollable > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}
.filter-footer-combo{
    display: flex;
    justify-content: space-between;
}
.task-not-found {
    min-height: 100px;
    color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
}