:root {
    --common-shadow: 0 0 25px 0 rgba(76, 87, 125, .1);
    --primary: #3E97FF;
    --success: #50CD89;
    --danger: #F1416C;
    --secondary: #6f6a6a;
    --info: #26D6EB;
    --warning: #FFAD5F;
    --light: #f5f5f5;
    --dark: #334155;;
    --white: #ffffff;
    --muted: #625f6e;
    --light-muted: #9896a0;


}

body {
    background-color: #fafafa;
}

.wiz-card {
    /*border: 1px solid #dddddd;*/
    padding: 1.5rem;
    background-color: #FFFFFF;
    /*box-shadow: var(--common-shadow);*/
    -webkit-border-radius: .5rem;
    border-radius: .5rem;
}

.summary-value {
    display: block;
    font-size: 20px !important;
    font-weight: 700;
}

.summary-icon {
    /*border: 1px solid #dddddd;*/
    display: inline-block;
    padding: .50rem .60rem;
    background-color: #f5f5f5;
    -webkit-border-radius: .75rem;
    border-radius: 3px;
    box-shadow: var(--common-shadow);
}

.summary-icon.icon-primary {
    background-color: var(--primary);
    color: #FFFFFF;
}

.icon-danger {
    background-color: var(--danger);
    color: #FFFFFF;
}

.icon-success {
    background-color: var(--success);
    color: #FFFFFF;
}

.summery-title-text {
    font-weight: 500;
    color: var(--muted);
}

.text-light-muted {
    color: var(--light-muted);
}

h1, h2, h3, h4, h5, h6 {
    text-transform: initial;
}

.title-text {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 1rem;
}

.form-group .custom-form-label,
.custom-form-label {
    font-weight: 600;
    color: var(--dark);
    display: block;
    margin-bottom: 8px;
}

.form-group .custom-form-control,
.custom-form-control {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    /*color: #69707a;*/
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*border-radius: 0.35rem;*/
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn-brand-primary:hover {
    background-color: #3385e6;
    color: white;
}


.btn-brand-primary {
    background-color: #3E97FF;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}


.btn-brand-info:hover,
.btn-brand-info {
    background-color: var(--info);
    color: var(--white);
}

.btn-brand-success:hover,
.btn-brand-success {
    background-color: var(--success);
    color: var(--white);
}

.btn-brand-danger {
    background-color: #F1416C;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.btn-brand-danger:hover {
    background-color: #D62A54;
    color: white;
}

.btn-brand-warning:hover,
.btn-brand-warning {
    background-color: var(--warning);
    color: var(--dark);
}

.btn-brand-secondary:hover,
.btn-brand-secondary {
    background-color: var(--secondary);
    color: var(--white);
}

.custom-btn {
    display: inline-block;
    padding: 0.45rem 1.5rem;
    box-shadow: 0 8px 9px -4px rgba(0, 0, 0, 0.15), 0 4px 18px 0 rgba(0, 0, 0, 0.1);
}

.custom-btn.btn-sm {
    padding: 0.25rem 1rem;
    box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.1), 0 3px 12px 0 rgba(0, 0, 0, 0.05);
    font-size: 13px;
    border-radius: 2px;
}


.custom-table {
    border: 1px solid #eeeeee;
}

.custom-table thead th {
    font-size: 13px;
    font-weight: 600;
    color: var(--dark);
    vertical-align: middle;
    border-color: #eeeeee;
    padding: .75rem 1.5rem;
    background-color: #f5f5f5;
}

.custom-table tbody td {
    font-size: 14px;
    color: #000000;
    vertical-align: middle;
    border-color: #eeeeee;
    padding: 0.75rem 0.5rem;
}


.custom-table tbody tr:nth-child(even) td {
    background-color: #fafafa;
}


.no-focus:focus {
    outline: none;
    box-shadow: none;
}

.wrapping-toggler-btn {
    border: 0;
    background-color: transparent;
}


.wrapper > .wrapping-aside {
    width: 245px;
    background-color: #1E1E2D;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: width .2s ease;
}

.aside-content {
    padding: 1rem;
}

.wrapper > .wrapping-body {
    width: calc(100% - 245px);
    min-height: 100vh;
    margin-left: auto;
    transition: width .2s ease;
}

header,
main,
footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.body-content {
    min-height: 100vh;
}


@media screen and (min-width: 992px) {
    .wrapper.collapsed > .wrapping-body {
        width: calc(100% - 80px);
    }

    .wrapper.collapsed .wrapping-aside {
        width: 80px;
    }

    .wrapper.collapsed .aside-content {
        padding: 1rem .5rem;
        transition: width .2s ease;
    }

    .wrapper.collapsed .aside-submenu {
        padding-left: 0;
    }
}

@media screen and (max-width: 991px) {
    .wrapper.collapsed > .wrapping-body {
        width: 100%;
    }

    .wrapper.collapsed .wrapping-aside {
        left: -245px;
    }
}


.aside-menu, .aside-submenu {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*.aside-submenu {*/
/*    padding-left: 28px;*/
/*}*/

.aside-menu-item {
    padding: 4px 0;
}


.aside-submenu .aside-menu-item {
    padding-left: 0;
    padding-right: 0;
}


.aside-menu-item .aside-link,
.aside-menu-item a {
    text-decoration: none;
    color: #d1cece;
    font-size: 14px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    text-align: left;
    width: 100%;
    position: relative;
    white-space: nowrap;
}

.aside-menu-item a.active {
    font-weight: 600;
    color: white;
}

.aside-menu-icon {
    width: 30px;
    display: inline-block;
}

.aside-menu-text {
    flex-grow: 1;
}

@media screen and (min-width: 992px) {
    .wrapper.collapsed .aside-menu-text {
        display: none;
    }
}

.aside-dropdown-menu {
    /*display: none;*/
    max-height: 0;
    overflow: hidden;

}

.aside-menu-item.menu-active > .aside-link {
    background-color: rgba(0, 0, 0, 0.2);
}

.aside-menu-item.menu-active .aside-dropdown-menu {
    max-height: 1000px;
    transition: max-height 2.7s ease;
}


.dropdown-icon {
    font-size: 12px;
    position: absolute;
    right: 4px;
    top: 53%;
    transform: translateY(-50%);
}

.aside-menu-item.menu-active .dropdown-icon {
    transform: translateY(-50%) rotate(90deg);
}

.wiz-card-mh {
    min-height: 65vh;
}

.mh-65vh {
    min-height: 65vh;
}

.mh-70vh {
    min-height: 70vh;
}


.aside-menu-item {
    position: relative;
}


/*Menu folding css*/
.aside-dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
}

.aside-menu-item.menu-active > .aside-dropdown-menu {
    max-height: 1000px;
    opacity: 1;
}

.aside-menu-item:not(.menu-active) > .aside-dropdown-menu {
    max-height: 0;
    opacity: 0;
}


.header-dropdown-item{
    color: black;
    text-decoration: none;
}

.role_selection {
    padding: 16px;
    background-color: floralwhite;
    border-radius: 10px;
}
.section_roll_name{
    text-transform: capitalize !important;
}

.dropdown-menu {
    padding: inherit;
}

.actionDropDownMenu{
    position: fixed !important;
    z-index: 1 !important;
}

.simplebar-placeholder{
    display: none !important;
}